@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: Minecraft Regular, 'Courier New', monospace;

}

body {

    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 10;
    position: relative;
    background-color: #191919;
}
body::before{
    background-image: url('/blackbg.png');
    background-size:  cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
}

header, main, footer {
    color: whitesmoke;
    isolation: isolate;
}

