---

---

<container class="flex flex-col text-left  gap-8 p-4 md:p-8 md:w-1/3  h-auto md:h-[55rem] bg-[#E9E9E9] rounded-2xl bg-opacity-10 mx-6 md:mx-12 shadow-2xl"> 
    <div class="flex flex-col gap-1 visible md:invisible text-center md:hidden">
        <h1 class="text-5xl font-extrabold text-[#F2B84B] ">Prates</h1>
        <h2 class="text-xl font-thin text-white opacity-40  ">Vinicius Prates Silva Cruz | 19 years old</h2>
    </div>
    <div class="profile-image self-center">
        <img src="/yo.png" class="w-64 rounded-full shadow-2xl"/>
    </div>
    <div class="flex flex-col items-start gap-1">
        <h1 class="text-[#F2B84B] text-xl font-extrabold">Resume</h1>
        <p class="text-white text-sm opacity-50 font-thin mb-2 italic">FullStack Developer</p>
        <p class="text-lg text-white">I started learning system and web development <b>5 years</b> ago, at my technical high school. Now i'm working with it 
         since <b>2022</b>, at Bosch GmbH. <br> I've learned many languages and frameworks during those years, and I'm open to learn and use many others in the 
        future. <br>At the moment i'm also doing <b>Software Engineer</b> at FIAP - São Paulo.</p>
    </div>

    <div class="flex flex-col items-start gap-10">
        <h1 class="text-[#F2B84B] text-xl font-extrabold"> Actual Quote</h1>
        <p class=" text-xl italic text-center self-center text-white opacity-60 ">"It’s just pathetic to give up on something before you even give it a shot.”</p>
    </div>
</container>