---

---

<container class="flex flex-col gap-24 w-2/3  h-[55rem]  mx-12 ">
    <div class="flex flex-col gap-1">
        <h1 class="text-5xl font-extrabold text-[#F2B84B]">Prates</h1>
        <h2 class="text-xl font-thin text-white opacity-40  ">Vinicius Prates Silva Cruz | 19 years old</h2>
    </div>
    <div class="flex flex-col md:flex-row ">
        <div class="flex flex-col gap-4 w-1/3 border-r-[1px] border-white border-opacity-20 mr-2">
            <h1 class="text-2xl font-bold text-[#F2B84B] mb-4 ">Contact</h1>
            <div class="flex flex-row gap-2 items-center ">
                <img src="/email.svg"> <p class="text-xl text-white">viniprates2211@gmail.com</p>
            </div>
            <div class="flex flex-row gap-2 items-center">
                <img src="/whatsapp.svg"> <p class="text-xl text-white">+55 (19) 99744-9292</p>
            </div>
            <div class="flex flex-row gap-2 items-center">
                <img src="/local.svg"> <p class="text-xl text-white">Valinhos - SP</p>
            </div>
            <div class="flex flex-row gap-4 items-center ">
                <a class="opacity-50 hover:opacity-100 transition-all" href="https://www.linkedin.com/in/vinipratess/"><img src="/linkedin.svg"></a>
                <a class="opacity-50 hover:opacity-100 transition-all" href="https://www.instagram.com/vinipratess/"><img src="/Instagram.svg"></a>
            </div>
            <a class="text-xl px-5 py-2 rounded-xl bg-[#E9E9E9] bg-opacity-20 w-fit text-white hover:text-[#e9e9e9] shadow-xl hover:bg-white hover:bg-opacity-40 font-bold transition-all" 
            href="https://github.com/vinicius-prates" target="_blank"> GitHub</a>
        </div>
        <div class="flex flex-col gap-8 w-1/3  border-r-[1px] border-white border-opacity-20 mx-10">
            <h1 class="text-2xl font-bold text-[#F2B84B] ">Experience</h1>
            <div>
                <h2 class="text-lg text-white mb-4">Bosch GmbH - <b>22 months</b></h2>
                <ul class="text-white text-sm opacity-60 italic mx-2">
                    <li> {`>`} Web Development</li>
                    <li> {`>`} Smart Automation</li>
                </ul>
            </div>

        </div>
        <div class="flex flex-col gap-2 w-1/3">
            <h1 class="text-2xl font-bold text-[#F2B84B] mb-4">Education</h1>

            <div>
                <h2 class="text-lg text-white mb-4">Technical High School CEMEP - IT</h2>
                <ul class="text-white text-sm opacity-60 italic mx-2">
                    <li>Jan 2019 {`>`} Dez 2021</li>
                </ul>
            </div>
            <div>
                <h2 class="text-lg text-white mb-4">System Development - SENAI</h2>
                <ul class="text-white text-sm opacity-60 italic mx-2">
                    <li>Jan 2022 {`>`} Jul 2023</li>
                </ul>
            </div>
            <div>
                <h2 class="text-lg text-white mb-4">Software Engineer - FIAP SP</h2>
                <ul class="text-white text-sm opacity-60 italic mx-2">
                    <li>Jan 2023 {`>`} Now</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-1 text-white ">
            <h1 class="text-4xl font-bold">Knowledge</h1>
            <p class="text-lg font-thin opacity-40">Some languages and tools i've have learned and used</p>
        </div>

        <div class="bg-[#e9e9e9] bg-opacity-10 rounded-2xl text-white p-9 shadow-xl text-6xl  flex flex-col gap-3 w-fit ">
            <div>
                <i class="devicon-react-original colored bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-angularjs-plain colored bg-black bg-opacity-50 p-2 rounded-xl"/> 
                <i class="devicon-nodejs-plain colored bg-black bg-opacity-50 p-2 rounded-xl"/>  
                <i class="devicon-typescript-plain colored bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-javascript-plain colored bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-java-plain  bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-sass-original colored bg-black bg-opacity-50 p-2 rounded-xl"></i>
          
            </div>
            <div>

            </div>
            <div>

                <i class="devicon-django-plain bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-tailwindcss-plain colored bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-css3-plain colored bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-html5-plain colored bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-express-original  bg-black bg-opacity-50 p-2 rounded-xl"/>
                <i class="devicon-mysql-plain colored bg-black bg-opacity-50 p-2 rounded-xl"></i>
                <i class="devicon-c-plain colored  bg-black bg-opacity-50 p-2 rounded-xl"></i>
          
          
            </div>
          
          
          
          
          
          
          
        </div>
    </div>
</container>
